.center {
  text-align: center;
}

.block {
  display: block;
}

.margin--t-base {
  margin-top: 1em;
}

.margin--b-normal {
  margin-bottom: 1em;
}

.margin--b-large {
  margin-bottom: 2em;
}

.margin--t-large {
  margin-top: 2em;
}

.display--ib {
  display: inline-block;
}

.caption {
  font-size: .9rem;
  color: #999;
  margin-bottom: $spacer-normal;
}

.btn--link {
  cursor: pointer;
}
