---
layout: default
title: About - Jules Simplicio
---
<header class="intro wrapper header">
  {% include header.html %}
</header>
<section class="about">
  <h2 class="center">About</h2>
  
  <p>I am a software product designer and front-end developer. I have over 6 years of experience that were spent researching, designing, developing, and testing software experiences used by hundreds of thousands of people.</p>

  <p>I am currently living in Chicago, and building software products at <a target="_blank" title="Sprout Social" href="https://sproutsocial.com">Sprout Social</a>. I help people make powerful connections through social media management tools.
  </p>

  <p>Pronouns: They/Them/Theirs</p>

  <figure>
    <img class="me-photo" src="{{ site.baseurl }}/assets/images/jules.jpg" title="Jules Simplicio" />
    <figcaption class="media-caption center">📸 Photo by Olivia Jepson</figcaption>
  </figure>

  <hr />

  <h2>Past work</h2>
  <p>In the past, I have:</p>
  <ul>
    <li>Designed and developed research products at <a target="_blank" title="dscout mobile research" href="https://dscout.com">dscout</a>.</li>
    <li>Designed e-commerce experiences for <a target="_blank" href="http://threadless.com" title="Threadless">Threadless</a> and their service <a href="https://www.threadless.com/artist-shops/signup/art" title="Artist Shops">Artist Shops</a>.</li>
    <li>Designed for Basecampers, and for <a href="https://thedistance.com" target="_blank" title="The Distance">The Distance</a> at <a target="_blank" href="http://basecamp.com" title="Basecamp">Basecamp</a>.</li>
  </ul>

  <hr />

  <h2>Speaking</h2>

  <p>I participate in dialogues about design. Appearances:</p>
  
  <ul>
    <li><a target="_blank" href="https://chicago.aiga.org/event/tune-up-portfolio-polish/" title="Tune-up: Portfolio Polish">Tune-up: Portfolio Polish</a></li>
    <li><a target="_blank"  href="https://chicago.aiga.org/event/design-pride-insights-and-experiences/" title="Design Pride: Insights and Experiences">Design Pride: Insights and Experiences</a></li>
  </ul>

  <hr />

  <h2>Contact</h2>

  <a target="_blank" href="mailto:hi@julessimplic.io" title="Shoot me an email">Let's talk</a>

  <hr />

  <h2>Friends testimonials</h2>

  <div class="paper">
    <blockquote>
      <q>In every instance, they provided thoughtful, specific feedback and truly cared about making it a growth experience for the students they worked with... Their dedication to helping the design community grow and flourish in Chicago is a prime example for our students, our other mentors and critics, and designers across the city.</q>
    </blockquote>
    <cite><a target="_blank" href="https://joosse.co" title="Mike Joosse">Mike Joosse</a>, <br /> Senior Product Marketing Manager at <a target="_blank" href="https://adobe.com" title="Adobe">Adobe</a></cite>
  </div>

  <div class="paper">
    <blockquote>
      <q>Jules was an empathetic mentor who got to know me as a person so that they could guide me towards opportunities that fit with my personal and professional objectives. Jules' thoughtful advice and wealth of industry knowledge was invaluable to me as a young designer!</q>
    </blockquote>
    <cite><a target="_blank" href="https://www.joshberman.design" title="Josh Berman">Josh Berman</a>, <br /> UX Designer at <a target="_blank" href="https://united.com" title="United">United Airlines</a></cite>
  </div>
</section>
{% include footer.html %}
