---
layout: default
title: Jules Simplicio — About
---
<header class="intro wrapper header">
  {% include header.html %}
</header>
<section class="about">
  <h2>About</h2>

  <p>I grew up with a computer in my room, and was thankful that I learned to code and design websites at a very young age. I was surfing the web during the dot-com bubble while starting to experiment with hypertext.</p>
  <p>I ended up becoming a software product designer and front-end engineer designer. I have over 6 years of experience that were spent researching, designing, and developing software products used by hundreds of thousands of people.</p>

  <p>I am currently building social media management software products at <a target="_blank" title="Sprout Social" href="https://sproutsocial.com">Sprout Social</a>, serving and connecting people with powerful social media tools.
  </p>

  <p>In the past, I have:</p>
  <ul>
    <li>Designed and developed research products at <a target="_blank" title="dscout mobile research" href="https://dscout.com">dscout</a>.</li>
    <li>Designed e-commerce experiences for <a target="_blank" href="http://threadless.com" title="Threadless">Threadless</a> and their service <a href="https://www.threadless.com/artist-shops/signup/art" title="Artist Shops">Artist Shops</a>.</li>
    <li>Designed for Basecampers, and for <a href="https://thedistance.com" target="_blank" title="The Distance">The Distance</a> at <a target="_blank" href="http://basecamp.com" title="Basecamp">Basecamp</a>.</li>
  </ul>

  <p>I enjoy participating in dialogues about design. Panel appearances: <a target="_blank" href="https://chicago.aiga.org/event/tune-up-portfolio-polish/" title="Tune-up: Portfolio Polish">Tune-up: Portfolio Polish</a> and <a target="_blank"  href="https://chicago.aiga.org/event/design-pride-insights-and-experiences/" title="Design Pride: Insights and Experiences">Design Pride: Insights and Experiences</a>.</p>

  <hr />

  <a target="_blank" href="mailto:hi@julessimplic.io" title="Shoot me an email">Shoot me an email</a>.

  <hr />

  <div class="paper">
    <blockquote>In every instance, they provided thoughtful, specific feedback and truly cared about making it a growth experience for the students they worked with... Their dedication to helping the design community grow and flourish in Chicago is a prime example for our students, our other mentors and critics, and designers across the city.
    </blockquote>
    <br />
    <p><a target="_blank" href="https://joosse.co" title="Mike Joosse">Mike Joosse</a>, <br /> Senior Product Marketing Manager at <a target="_blank" href="https://adobe.com" title="Adobe">Adobe</a></p>
  </div>

  <hr />

  <div class="paper">
    <blockquote>
      Jules was an empathetic mentor who got to know me as a person so that they could guide me towards opportunities that fit with my personal and professional objectives. Jules' thoughtful advice and wealth of industry knowledge was invaluable to me as a young designer!
    </blockquote>
    <br />
    <p><a target="_blank" href="https://www.joshberman.design" title="Josh Berman">Josh Berman</a>, <br /> UX Designer at <a target="_blank" href="https://united.com" title="United">United Airlines</a></p>
  </div>
</section>
{% include footer.html %}
