---
layout: default
---
{% include header.html %}
<main class="main-content">
  <p>I have a background in design and development.</p>

  <p>Out of college, I cut my teeth as a design apprentice at <a href="http://basecamp.com">Basecamp</a>. Following the apprenticenship, I focused on coding, and became a front-end developer for an early stage start up. Lastly, I started my career in product design with an apprenticeship at <a href="http://threadless.com">Threadless</a>.</p>
</main>
{% include footer.html %}
