---
layout: default
title: Jules Simplicio — Software Product Designer
---
<main class="archive main">
  <header class="header intro wrapper">
    {% include header.html %}
  </header>
  <section class="archive--list wrapper">
    <h2>Archive</h2>
    {% for post in site.categories.product %}
      {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentyear != year %}
         <h3>{{ currentyear }}</h3>
        {% capture year %}{{currentyear}}{% endcapture %}
      {% endif %}
      <ul class="posts-in-year">
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}    </a> &mdash; {{ post.date | date: "%B %d" }}</li>
      </ul>
    {% endfor %}
  </section>
</main>
