<footer class="site-footer content">
  <p>Have a good <span id="js-time"></span></p>

  <p>&copy; Jules Simplicio · 2018</p>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48100383-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-48100383-1');
</script>
<script>
  let date =  new Date();
  let hours = date.getHours();
  let time;

  if ( hours >= 5 && hours <= 11 ) {
    time = "morning ☕️"
  }

  else if ( hours >= 12 && hours <= 17) {
    time = "afternoon ✌️"
  }

  else if ( hours >= 18 && hours <= 20) {
    time = "evening ✌️"
  }

  else {
    time = "night 😴"
  }

  document.getElementById('js-time').innerHTML = time;
</script>
