<header class="intro content">
  <p>Hello 👋 I'm Jules Simplicio—Born and raised in São Paulo, living in Chicago. Designer of software products. Currently designing for web and mobile at <a title="dscout mobile research" href="https://dscout.com">dscout</a>.</p>

  <p>In the past, apprenticed design under <a title="Basecamp" href="http://basecamp.com" title="Basecamp">Basecamp</a> and  <a title="Threadless" href="http://threadless.com" title="Threadless">Threadless</a>, and practiced front-end development for a startup that has been acquired.

  <div class="intro-links">
    <a href="mailto:hi@julessimplic.io" title="Email">Email</a>
    or
    <a href="https://twitter.com/JulesSimplicio?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @JulesSimplicio</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</header>
