<header class="intro content">

  <p class="jules">Jules Simplicio</p>

  <p class="intro-paragraph">Designer of software products. Born and raised in São Paulo, immigrated to Chicago. Designing apps at <a title="dscout mobile research" href="https://dscout.com">dscout</a> for the field of qualitative and contextual research.</p>


  <p>Previously: Designed e-commerce experiences at <a href="http://threadless.com" title="Threadless">Threadless</a> for their new on-demand print service, Artist Shops. Designed print collaterals and web articles for <a href="http://basecamp.com" title="Basecamp">Basecamp</a>.</p>

  <p>Currently mentoring designers from <a href="http://designation.io" title="Designation">Designation</a>.</p>

  <p class="intro-links">
    <a href="mailto:hi@julessimplic.io" title="Shoot me an email">Shoot me an email</a>.
  </p>
</header>
