<p class="intro">Jules Simplicio is a software product designer and design technologist currently working on tools and experiences at <a href="https://sproutsocial.com" title="Sprout Social" target="_blank">Sprout Social ↗</a></p>
<hr />
<nav class="main-nav">
    <ul>
        <li><a href="/" {% if page.path contains 'index' %}class="active"{% endif %}>🏠 Home</a></li>
        <li><a href="/about" {% if page.path contains 'about' %}class="active"{% endif %}>👤  About</a></li>
        <li><a href="/archive" {% if page.path contains 'archive' %}class="active"{% endif %}>🗄 Archive</a></li>
        <li><a href="https://twitter.com/julessimplicio" {% if page.path contains 'twitter' %}class="active"{% endif %} target="_blank">🐤 Twitter ↗</a></li>
    </ul>
</nav>
<hr />
