* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 16px;

  @include breakpoint(1024px) {
    font-size: 18px;
  }
}

body {
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  font-size: 1rem;
  box-sizing: border-box;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-normal;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
}

main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: $text-color;
  font-family: $secondary-font;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: $spacer-xxsmall;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.15rem;
}

hr {
  background: $border-color;
  border: none;
  height: 1px;
  margin: 2rem 0;
}

a {
  color: $link;
  display: inline;
  text-decoration: underline;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

iframe {
  border: none;
  height: 650px;
  width: 100%;
}

table {
  border-collapse: separate;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  margin-bottom: $spacer-normal;
  width: 100%;
}

th {
  background: #DEDEDE;
  border-radius: 4px;
}

tr {
  background: #EFEFEF;
}

td {
  padding: $spacer-xsmall $spacer-small;
  border-radius: 4px;
}

p {
  color: $text-color;
  padding-bottom: $spacer-small;
}

img,
video {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  &.has-caption {
    margin-bottom: $spacer-small;
  }
}

video {
  margin-bottom: $spacer-normal;
}

figure:not(:last-child) {
  margin-bottom: $spacer-normal;
}

ol,
ul {
  list-style-position: inside;
  margin-bottom: $spacer-xsmall;
}

ul li:last-child {
  margin-bottom: $spacer-small;
}

li:not(:last-child) {
  margin-bottom: $spacer-xsmall;
}

li ul {
  margin-top: $spacer-xsmall;
}

li li {
  margin-left: $spacer-normal;
}


blockquote {
  margin: $spacer-small auto;
  padding: $spacer-small 0 0 $spacer-normal;
  position: relative;
  
  q {
    display: block;
    quotes: "“" "”";
    
    &::before {
      content: open-quote;
      font-size: $font-xxlarge;
      font-weight: bold;
      line-height: 2;
      left: 0;
      top: 0;
      position: absolute;
    }
    
    &::after {
      content: close-quote;
    }
  }
  
  cite {
    color: #999;
  }
}

.main-nav {
  border: 1px solid $border-color;
  border-radius: 8px;  
  padding: .125em;
}

.error {
  padding: $spacer-large;
}

.header {
  font-size: .825em;
  margin: $spacer-normal auto 0 auto;
  max-width: 350px;

  a {
    text-decoration: none;
    color: $text-color;
    display: block;

    &.active {
      color: white;
    }
  }

  p {
    padding: 0;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;

    li {
      border-radius: 6px;  
      display: inline-block;
      margin: .25em;
      padding: $spacer-xxsmall;
      text-align: center;
      transition: background 50ms ease-in-out;
      width: 100%;

      &:hover {
        background: #DDD;
      }
    }

    li.active {
      background: $text-color;
    }
  }
}

.page--navigation {
  display: flex;
  margin-bottom: $spacer-normal;
  justify-content: space-around;
  text-align: center;

  li, a {
    margin: 0 $spacer-normal;
  }
}

.wrapper {
  max-width: 768px;
  padding: $spacer-small;
}

.main {
  margin: 0 auto;
  max-width: 768px;
}

.memoji {
  max-width: 64px;
}

.sidebar {
  margin: 0 auto;
  max-width: 768px;
  padding: $spacer-normal 0 0 0;
  width: 100%;

  @include breakpoint(1024px) {
    max-width: 350px;
  }
}

.work,
.about,
.post {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
}

.work-wrapper {
  margin-top: $spacer-normal;
  padding-top: 0;

  a {
    text-decoration: none;
  }
}

.site-footer {
  margin: $spacer-xlarge $spacer-large $spacer-large $spacer-large; 
  text-align: center;

  ul {
    list-style-type: none;
  }
}

.me-photo {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.under-construction {
  background: rgba(0,0,0,0.5);
  position: absolute;
  display: flex;
  justify-content: center;  
  padding-top: $spacer-large * 2;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;

  p {
    text-shadow: 0px 8px 32px rgba(0,0,0,0.5);
    color: #FFFFFF;
    font-size: $font-large;
    height: 100vh;
    font-weight: bold;
    padding: 0 $spacer-normal;
    position: absolute;
    top: 50vh;

    @include breakpoint(1024px) {
      font-size: $font-xxlarge;
    }
  }
}