* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  padding: 0 $spacer-small;

  @include breakpoint(768px) {
    font-size: 18px;
    padding: 0 $spacer-normal;
  }
}

body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  color: $text-color;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  text-rendering: optimizeLegibility;
}

main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: $text-color-faded;
  font-family: $sans-serif;
  font-size: $font-medium;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $spacer-xxsmall;
}

h2 {
  font-size: $font-normal;
  font-weight: bolder;
  padding-bottom: $spacer-small;
}

h3 {
  font-size: $font-medium;
}

hr {
  background: #F0F0F0;
  border: none;
  height: 1px;
  margin: 2rem 0;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

iframe {
  border: none;
  height: 650px;
  width: 100%;
}

p {
  padding-bottom: $spacer-small;
}

img,
video {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  &.has-caption {
    margin-bottom: $spacer-small;
  }
}

video {
  margin-bottom: $spacer-normal;
}

figure:not(:last-child) {
  margin-bottom: $spacer-normal;
}

ol,
ul {
  list-style-position: inside;
  margin-bottom: $spacer-xsmall;
}

ul li:last-child {
  margin-bottom: $spacer-small;
}

li:not(:last-child) {
  margin-bottom: $spacer-xsmall;
}

li ul {
  margin-top: $spacer-xsmall;
}

li li {
  margin-left: $spacer-normal;
}

blockquote {
  position: relative;

  p {
    padding: $spacer-small 0 0 0;
  }

  h3 {
    font-size: $font-normal;
  }

  &::before {
    content:"“";
    font-family: $sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    left: -.6em;
    position: absolute;
    top: -.10em;
    z-index: -1;
  }
}

.error {
  padding: $spacer-large;
}

.btn {
  background: white;
  border: 1px solid #DDD;
  border-radius: 6px;
  color: $text-color;
  font-family: $font-family;
  font-size: 1em;
  font-style: normal;
  transition: 150ms;
  padding: $spacer-xsmall $spacer-small;

  &:hover {
    border: 1px solid #000;
  }
}

.page--navigation {
  display: flex;
  margin-bottom: $spacer-normal;
  justify-content: space-around;
  text-align: center;
}

.my-thumbnail {
  background-position: 50% 30%;
  background-size: 150%;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,.35);
  height: 150px;
  margin-bottom: 1em;
  width: 150px;
}

.wrapper {
  margin: 0 auto;
  max-width: $main-content--width;
}

.main {
  display: flex;
  flex-flow: column;
  max-width: 1400px;

  @include breakpoint(1024px) {
    flex-flow: row;
  }
}

.sidebar {
  margin: 0 auto $spacer-normal auto;
  max-width: 768px;
  padding: $spacer-normal 0 0 0;
  width: 100%;

  @include breakpoint(1024px) {
    margin-right: $spacer-xlarge * 2;
    max-width: 325px;
  }
}

.work {
  margin: $spacer-normal auto 0 auto;
  max-width: 768px;
  width: 100%;

  @include breakpoint(1024px) {
    max-width: 768px;
  }
}

.site-header {
  margin: 0 auto;
  padding: $spacer-normal 0;
}

.site-footer {
  background-color: #EEE;
  margin: 0 (-$spacer-small);
  padding: $spacer-large;
  text-align: center;

  p:last-child {
    padding: 0;
  }

  @include breakpoint(768px) {
    padding: $spacer-small (-$spacer-normal) (-$spacer-normal) (-$spacer-normal);
  }
}
