* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 18px;

  @include breakpoint(1024px) {
    font-size: $font-size;
  }
}

body {
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  box-sizing: border-box;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-normal;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: $text-color;
  font-family: $secondary-font;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: $font-large;
}

h2 {
  font-size: $font-medium;
}

h3 {
  line-height: 1.4;
  font-size: $font-small;
}

hr {
  background: $border-color;
  border: none;
  height: 1px;
  margin: 2rem 0;
}

a {
  color: $text-color;
  display: inline;
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    color: $link;
  }
}

header {
  max-width: $main-content--width;
  margin: 0 auto;

}

table {
  border-collapse: separate;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  margin-bottom: $spacer-normal;
  width: 100%;
}

th {
  background: #DEDEDE;
  border-radius: 4px;
}

tr {
  background: #EFEFEF;
}

td {
  padding: $spacer-small;
  border-radius: 4px;
}

cite {
  font-style: normal; 
}

p {
  color: $text-color;
  padding-bottom: $spacer-small;
}

img,
video {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  &.has-caption {
    margin-bottom: $spacer-small;
  }
}

video {
  margin-bottom: $spacer-normal;
}

figure:not(:last-child) {
  margin-bottom: $spacer-normal;
}

ol,
ul {
  list-style-position: inside;
  margin-bottom: $spacer-xsmall;
}

ul li:last-child {
  margin-bottom: $spacer-small;
}

li:not(:last-child) {
  margin-bottom: $spacer-xsmall;
}

li ul {
  margin-top: $spacer-xsmall;
}

li li {
  margin-left: $spacer-normal;
}


blockquote {
  margin: $spacer-small auto;
  padding: $spacer-small 0 0 $spacer-normal;
  position: relative;
  
  q {
    display: block;
    quotes: "“" "”";
    
    &::before {
      content: open-quote;
      font-size: $font-xxlarge;
      font-weight: 700;
      line-height: 1.6;
      left: 0;
      top: 0;
      position: absolute;
    }
    
    &::after {
      content: close-quote;
    }
  }
}

.main-nav {
  padding: $spacer-small;
  padding-bottom: 0;

  ul {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    
    a {
      align-self: center;
      margin-right: $spacer-xsmall;
    }

    li { 
      margin: 0;
    }

    li.active a {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.page--navigation {
  display: flex;
  margin-bottom: $spacer-normal;
  justify-content: space-around;
  text-align: center;

  li, a {
    margin: 0 $spacer-normal;
  }
}

.wrapper {
  max-width: $main-content--width;
  margin: 0 auto;

  padding: 0 $spacer-small;

  &.pt--none {
    padding-top: 0;
  }
}

.main {
  max-width: $main-content--width;
}

.post {
  padding-top: $spacer-large;
}

.work,
.about,
.post {
  max-width: $main-content--width;
  width: 100%;
}

.work-wrapper {
  margin-top: $spacer-large;
  padding-top: 0;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.site-footer {
  margin-top: $spacer-large;

  ul {
    list-style-type: none;
  }
}