.center {
  text-align: center;
}

.block {
  display: block;
}

.margin--t-base {
  margin-top: 1em;
}

.margin--b-normal {
  margin-bottom: 1em;
}

.margin--b-medium {
  margin-bottom: 1.5em;
}

.margin--b-large {
  margin-bottom: 2em;
}

.margin--t-large {
  margin-top: 2em;
}

.display--ib {
  display: inline-block;
}

.caption {
  font-family: $secondary-font;
  font-size: .9rem;
  color: #999;
  margin-bottom: $spacer-normal;
}

.font--size-s {
  font-size: $font-small;
}

.font--size-m {
  font-size: $font-medium;
}

.font--size-xl {
  font-size: $font-xlarge;
}

.font--size-xxl {
  font-size: $font-xxlarge;
}

.font--size-l {
  font-size: $font-large;
}
