.intro-paragraph {
  font-family: $font-header;
  font-size: $font-xlarge;
  line-height: 1.2;
}

.work-item {
  display: block;
  margin-bottom: 2em;
  position: relative;
  transition: 200ms ease-in;

  &:hover {
    .btn {
      border: 1px solid #000;
    }
  }

  .post-title {
    padding-bottom: $spacer-small;
  }

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.work h2 {
  padding-bottom: $spacer-small;
}
