.intro-paragraph {
  font-family: $font-header;
  font-size: $font-xlarge;
  line-height: 1.2;
}

.work-item {
  display: block;
  margin-bottom: 2em;
  position: relative;
  transition: 200ms ease-in;

  p {
    margin-bottom: $spacer-small;
  }
}

.work h3 {
  margin-bottom: $spacer-xsmall;
}
