.home-intro {
  font-size: 1.5em;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  padding: $spacer-normal 0;
}

.skill {
  text-align: center;
  flex: 100% 0 0;
  padding: 0 $spacer-normal;

  p {
    font-size: $font-small;
  }

  @include breakpoint(560px) {
    flex: 50% 0 0;
  }
}

