.media-caption {
  display: block;
  font-color: #888;
  font-family: $secondary-font;
  font-size: $font-small;
  font-style: normal;
  margin-top: $spacer-xsmall;

  &:not(:last-child) {
    margin-bottom: $spacer-small;
  }
}

.tag {
  background: rgba($text-color,.1);
  color: rgba($text-color,.6);
  display: inline-block;
  font-family: $secondary-font;
  font-size: $font-small;
  margin: $spacer-xsmall $spacer-xxsmall $spacer-xxsmall 0;
  padding: .25em $spacer-xxsmall;

  a {
    display: block;
  }
}

.post-meta {
  color: #888;
  display: block;
  font-size: $font-small;
  text-decoration: none;
}

.post-content {
  margin: 2em 0;
}

.hero-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 15%;
  height: 200px;
  margin: -10px -10px $spacer-normal -10px;
  position: relative;

  &:after {
    content: '';
    display: block;
    background: linear-gradient(to bottom, rgba(2,2,2,0), rgba(0,0,0,.15));
    height: 100%;
    position: absolute;
    width: 100%;
  }

  @include breakpoint(480px) {
    background-size: 100% auto;
    height: 300px;
  }

  @include breakpoint(650px) {
    background-size: 90% auto;
    height: 350px;
  }

  @include breakpoint(600px) {
    background-size: 90% auto;
    height: 400px;
  }

  @include breakpoint(900px) {
    background-size: 70% auto;
    height: 400px;
  }

  @include breakpoint(1000px) {
    background-size: 70% auto;
    height: 400px;
  }

  @include breakpoint(1024px) {
    background-size: 60% auto;
    height: 400px;
  }

  @include breakpoint(1200px) {
    background-size: 60% auto;
    height: 450px;
  }

  @include breakpoint(1300px) {
    background-size: 60% auto;
    height: 500px;
  }

  @include breakpoint(1600px) {
    background-size: 60% auto;
    height: 600px;
  }
}

.cp_embed_wrapper {
  margin-bottom: $spacer-normal;
}

.posts-in-year {
  li {
    list-style-type: none;
  }
}
