.media-caption {
  display: block;
  font-family: $secondary-font;
  font-size: $font-small;
  font-style: normal;
  margin-top: $spacer-xsmall;

  &:not(:last-child) {
    margin-bottom: $spacer-small;
  }
}

.post-meta {
  color: #888;
  display: block;
  font-size: $font-small;
  text-decoration: none;
}

.post-header {
  text-align: center;

  h1 {
    font-size: 2em;
  }
}

.team--role th {
  width: 30%;
  text-align: left;
  padding-left: $spacer-small;
}

.post-content {
  margin: 2em 0;
}

.problem-statement {
  background: #e8f9ff;
  border: 1px solid #add8e6;
  border-radius: 8px;
  margin-bottom: $spacer-normal;
  padding: $spacer-small;

  p {
    margin: 0;
    padding: 0;
  }
}

.hero-image {
  height: 40vh;
  margin: -10px -10px $spacer-normal -10px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 20%;

  &:after {
    content: '';
    display: block;
    background: linear-gradient(to bottom, rgba(2,2,2,0), rgba(0,0,0,.15));
    height: 100%;
    position: absolute;
    width: 100%;
  }

  @include breakpoint(560px) {
    background-size: 100%;
    background-position: center 30%;
  }

  @include breakpoint(700px) {
    background-size: 100%;
    background-position: center 30%;
    height: 50vh;
  }

  @include breakpoint(1024px) {
    background-size: 80%;
  }

  @include breakpoint(1200px) {
    background-size: 65%;
  }
}

.cp_embed_wrapper {
  margin-bottom: $spacer-normal;
}
