.media-caption {
  display: block;
  font-color: #888;
  font-size: $font-xsmall;
  font-style: normal;
  font-weight: normal;
  margin-top: $spacer-xsmall;

  &:not(:last-child) {
    margin-bottom: $spacer-small;
  }
}

.post {
  .post-title {
    font-size: $font-xlarge;
  }

  .tags {
    margin-bottom: $spacer-normal;
  }
}

.post-title {
  line-height: 1.3;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B",
-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $font-large;
  font-style: normal;
  font-weight: 800;
}

.post-header {
  padding-bottom: $spacer-normal;
}

.post-meta {
  color: #888;
  display: block;
  font-size: $font-xsmall;
  font-style: italic;
  text-decoration: none;
}

.post-content {
  margin: 2em 0;
}

.hero-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 15%;
  margin: -2em -1em 2em -1em;
  height: 250px;
  position: relative;

  &:after {
    content: '';
    display: block;
    background: linear-gradient(to bottom, rgba(2,2,2,0), rgba(0,0,0,.15));
    height: 100%;
    position: absolute;
    width: 100%;
  }

  @include breakpoint(550px) {
    background-size: 85% auto;
    height: 250px;
  }

  @include breakpoint(600px) {
    background-size: 110% auto;
    height: 500px;
  }

  @include breakpoint(800px) {
    background-size: 90% auto;
    height: 500px;
  }

  @include breakpoint(1024px) {
    background-size: 85% auto;
    height: 500px;
  }

  @include breakpoint(1000px) {
    background-size: 80% auto;
    height: 500px;
  }

  @include breakpoint(1200px) {
    background-size: 65% auto;
    height: 500px;
  }

  @include breakpoint(1400px) {
    background-size: 55% auto;
    height: 500px;
  }

  @include breakpoint(1600px) {
    background-size: 55% auto;
    height: 500px;
  }

  @include breakpoint(1800px) {
    background-size: 45% auto;
    height: 500px;
  }
}

.cp_embed_wrapper {
  margin-bottom: $spacer-normal;
}
