$font-xxsmall: .65rem;
$font-xsmall: .75rem;
$font-small: .9rem;
$font-normal: 1rem;
$font-medium: 1.225rem;
$font-large: 1.625rem;
$font-xlarge: 2rem;

$text-color: #505050;
$text-color-light: #CCC;
$text-color-faded: #393939;
$accent-color: #1E90FF;

$spacer-xsmall: .6em;
$spacer-small: 1em;
$spacer-normal: 2em;
$spacer-large: 3em;
$spacer-xlarge: 4em;

$page-width: 768px;
$main-content--width: 768px;
