@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-family: 'Inter', sans-serif;
$secondary-font: 'Inter', sans-serif;


$font-size: 24px;
$font-normal: 1rem;
$font-small: $font-normal / 1.333;
$font-medium: $font-normal * 1.333;
$font-large: $font-medium * 1.333;
$font-xlarge: $font-large * 1.333;
$font-xxlarge: $font-xlarge * 1.333;
$font-xxxlarge: $font-xxlarge * 1.333;

$text-color: #222;
$text-color-light: #CCC;
$text-color-faded: #393939;
$link: blue;

$border-color: #DEDEDE;

$spacer-xsmall: .6em;
$spacer-small: 1em;
$spacer-normal: 2em;
$spacer-large: 3em;
$spacer-xlarge: 4em;

$page-width: 992px;
$main-content--width: 992px;