.post-card {
  margin-bottom: $spacer-normal;
  position: relative;
  transition: 250ms ease-in-out;

  p {
    margin: 0;
    padding: 0;
  }

  h2:hover {
    color: $link;
  }

  @include breakpoint(560px) {
    display: flex;
  }
}