.post-card {
  border: 1px solid $border-color;
  border-radius: 8px;
  display: block;
  margin-bottom: $spacer-normal;
  position: relative;
  transition: 250ms ease-in-out;

  footer {
    padding-top: $spacer-small;
  }

  p {
    margin: 0;
    padding: 0;
  }

  &:hover {
    box-shadow: 0 0 32px 4px rgba(0,0,0,.1);

    .post-arrow {
      transform: translateX(5px);
    }
  }

  @include breakpoint(560px) {
    display: flex;
    height: 250px;
  }
}

.post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  height: 350px;
  margin: -1px 0 -1px 0;
  width: 100%;

  @include breakpoint(560px) {
    border-radius: 8px 0 0 8px;
    height: auto;
    margin: -1px 0 -1px -1px;
    flex: 3 0 0;
  }
}

.post-card-content {
  flex: 4 0 0;
  padding: $spacer-small;
}

.work .post-image {
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

.post-arrow {
  bottom: $spacer-small;
  font-size: $font-large;
  position: absolute;
  right: $spacer-small;
  transition: ease-in-out 250ms;
}