body {
	padding: 20px;
	position: relative;
	background: #111;
	font-family: "museo-slab";
}

.cycle-slideshow {
	max-width: 1140px;
	margin: 0 auto;


	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.navigation {
	text-align: center;
	padding: 24px 0;
}

#prev,
#next {
	color: #fff;
	font-size: 2em;
	text-decoration: none;
	text-transform: lowercase;
	padding: 0 12px;
}