body {
	padding: 20px;
	position: relative;
	background: #111;
	color: #fff;
	font-family: "museo-slab";
}

a {
	color: #fff;
}

.cycle-slideshow {
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;

	img {
		max-width: 1140px;
		margin: 0 auto;
	}
}

.vertical {
	left: 50% !important;
	transform: translateX(-50%);
}

.navigation {
	text-align: center;
	padding: 24px 0;
}

#prev,
#next {
	font-size: 2em;
	text-decoration: none;
	text-transform: lowercase;
	padding: 0 12px;
}

#footer {
	text-align: center;

	p {
		font-size: 12px;
	}
}