body {
	padding: 20px;
	position: relative;
	background: #111;
	color: #fff;
	font-family: "garamond-premier-pro";
}

a {
	color: #fff;
}

h1 {
	font-style: italic;
	text-align: center;
	font-size: 44px;
}

.cycle-slideshow {
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;

	img {
		width: 100%;
	}
}

.navigation {
	text-align: center;
	padding: 24px 0;
}

#prev,
#next {
	font-size: 2em;
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	padding: 0 12px;
}

#credits {
	text-align: center;
	max-width: 768px;
	
	p {
		font-size: 14px;
	}
}