/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Mixins */
/* Variables */
/* Helpers */
.center {
  text-align: center; }

.block {
  display: block; }

.margin--t-base {
  margin-top: 1em; }

.margin--b-normal {
  margin-bottom: 1em; }

.margin--b-large {
  margin-bottom: 2em; }

.display--ib {
  display: inline-block; }

.caption {
  font-size: .9rem;
  color: #999;
  margin-bottom: 2em; }

/* Global */
html {
  font-size: 18px; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 22px; } }

body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  color: #505050;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 2em 1em;
  position: relative;
  text-rendering: optimizeLegibility; }

main {
  margin: 0 auto; }

h2,
h3,
h4 {
  color: #393939; }

h2 {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 1px;
  padding-bottom: 1em; }

h4 {
  font-size: 1.225rem;
  font-weight: bold;
  padding-bottom: 1em; }
  h4:not(:first-child) {
    padding-top: 2em; }

hr {
  background: #F0F0F0;
  border: none;
  height: 1px;
  margin: 2rem 0; }

a {
  color: inherit;
  border-bottom: 1px solid rgba(80, 80, 80, 0.4);
  position: relative;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #505050; }

p:not(:last-child) {
  padding-bottom: 1em; }

img,
video {
  display: block;
  margin: 0 auto;
  max-width: 100%; }
  img.has-caption,
  video.has-caption {
    margin-bottom: 1em; }

video {
  margin-bottom: 2em; }

figure:not(:last-child) {
  margin-bottom: 2em; }

ol,
ul {
  list-style-position: inside;
  margin-bottom: 1em; }

li:not(:last-child) {
  margin-bottom: 0.6em; }

footer {
  border-top: 1px solid #F0F0F0; }

header {
  border-bottom: 1px solid #F0F0F0; }

/* Components */
.wrapper {
  margin: 0 auto;
  max-width: 768px; }

.intro,
.intro-links {
  margin: 0 auto 2em auto; }
  .intro p,
  .intro-links p {
    text-align: left; }
    .intro p:first-child,
    .intro-links p:first-child {
      font-size: 1.4; }

.site-header,
.site-footer {
  margin: 0 auto;
  padding: 2em 0; }

.work h2 {
  padding-bottom: 1em; }

.work-item {
  color: #444;
  display: block;
  margin-bottom: 2em;
  position: relative;
  text-decoration: none;
  transition: 200ms ease-in;
  background-position: 120%, 122%, 0 130%;
  background-repeat: no-repeat;
  background-size: 100% 5px; }

.media-caption {
  display: block;
  font-color: #888;
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 0.6em; }
  .media-caption:not(:last-child) {
    margin-bottom: 1em; }

.post h2 {
  padding-bottom: 0; }
.post .post-title {
  font-size: 1.625rem; }
.post .tags {
  margin-bottom: 2em; }

.post-title {
  line-height: 1;
  padding-bottom: 10px;
  text-transform: none; }

.subtitle {
  color: #AAA;
  font-weight: normal !important; }

.post-meta {
  color: #888;
  display: block;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: lowercase; }

.date {
  color: #CCC;
  font-weight: 300;
  margin-right: 1.5em; }

.tags {
  margin-bottom: 1em; }

.tags .tag {
  background-color: #F1F1F1;
  border-bottom: none;
  border-radius: 3px;
  color: #999;
  display: inline-block;
  font-size: .725rem;
  margin: 0 .5em .5em 0;
  padding: .25em .5em; }

.logo-wrapper {
  text-align: center; }

.logo {
  display: inline-block;
  margin: 0 0 1em 0;
  max-width: 281px; }

.post-content {
  margin: 2em 0; }

.tag--group {
  margin-bottom: 2em; }

.tags--table {
  width: 100%; }
  .tags--table td span {
    float: right; }

/*# sourceMappingURL=main.css.map */
