---
layout: default
---
<div class="hero-image" style="background-image: url('{{ page.hero_image }}'); background-color: {{ page.hero_color }};">
</div>
<main class="wrapper">
  <a href="/work">Work</a> > {{ page.title }}
  <hr/>
  <article class="post">
    <header class="post-header">
      <h1>{{ page.title }}</h1>
      <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
    </header>
    <section class="post-content">
      {{ content }}
    </section>
  </article>
  <section class="page--navigation">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}" title="Previous">&laquo; Previous</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}" title="Next">Next &raquo;</a>
    {% endif %}
  </section>
</main>
{% include footer.html %}
