---
layout: default
---
<div class="hero-image" style="background-image:url({{ page.hero_image }}); background-color:{{ page.hero_color }}">
</div>
<main class="wrapper">
  <a class="margin--b-large" href="/">Home</a> > {{ page.title }}
  <hr/>
  <article class="post">
    <header class="post-header">
			<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
      <h3 class="post-title">{{ page.title }}</h3>
    </header>
    <div class="post-content">
      {{ content }}
    </div>
  </article>
  <div class="page--navigation">
    {% if page.previous.url %}
      <a class="btn btn--link prev" href="{{page.previous.url}}">Previous</a>
    {% endif %}
    {% if page.next.url %}
      <a class="btn btn--link next" href="{{page.next.url}}">Next</a>
    {% endif %}
  </div>
  <div class="wrapper">
  	{% include footer.html %}
  </div>
</main>
