---
layout: default
---
<main class="wrapper">
  <a class="margin--b-large display--ib" href="/">Return home</a>
  <article class="post">
      <header class="post-header">
  			<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
        <h3 class="post-title">{{ page.title }} <span class="subtitle">{{ page.subtitle }}</span></h3>
        <div class="tags">
          {% for tag in page.tags %}
            <span>{{tag | downcase}}</span>
          {% endfor %}
        </div>
      </header>
      <div class="post-content">
        {{ content }}
      </div>
  </article>
  <div class="wrapper">
  	{% include footer.html %}
  </div>
</main>
